@font-face {
  font-family: "JosefinSans";
  src: url("../../assets/fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "JosefinSans-Italic";
  src: url("../../assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "PaytoneOne";
  src: url("../../assets/fonts/PaytoneOne-Regular.ttf");
}

h1 {
  font-family: JosefinSans;
  font-size: 2rem;
  line-height: 2rem;
}

h2 {
  font-family: JosefinSans;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h3 {
  font-family: JosefinSans;
  font-size: 1rem;
  line-height: 1rem;
}

p {
  font-family: PaytoneOne;
  font-size: 1rem;
  line-height: 1.2rem;
}
