@use "../../../styles/_partials/mixins" as *;
@use "../../../styles/_partials/typography" as *;
@use "../../../styles/_partials/variables" as *;

.hero {
  padding: 2rem;

  &__image {
    width: 80vw;
    overflow: hidden;
  }

  &__text {
    @include small-h1;
    padding: 2rem;
  }

  &__button {
    &-box {
      text-decoration: none;
      @include flex;
    }
    @include button;
    color: $color5;
  }
}

.article {
  background-color: $color3;
  padding: 2rem;
  &__title {
    @include flex;
    padding-bottom: 2rem;
    font-family: paytoneOne;
    color: $color4;
  }

  &__description {
    color: $color5;
  }

  &__button {
    &-box {
      text-decoration: none;
      @include flex;
      padding-top: 1rem;
    }
    @include button;
  }
}
