@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;

.hero {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  &__icon {
    @include flex;
    align-self: flex-end;
    width: 2rem;
    padding-bottom: 2rem;
  }

  &__image {
    width: 80vw;
    overflow: hidden;
  }

  &__text {
    @include small-h1;
    padding: 2rem;
    font-family: "PurplePurse";
  }

  &__button {
    &-box {
      text-decoration: none;
      @include flex;
    }
    @include button;
    color: $color5;
  }
}

.article {
  background-color: $color3;
  padding: 2rem;
  margin-top: 2rem;

  &__title {
    @include flex;
    padding-bottom: 2rem;
    font-family: "PaytoneOne";
    color: $color4;
  }

  &__description {
    color: $color5;
    text-align: center;
  }

  &__button {
    &-box {
      text-decoration: none;
      @include flex;
      padding-top: 1rem;
      color: $color5;
    }
    @include button;
  }
}

.footer {
  background-color: $color4;
  padding: 3rem 0;
  @include flex;
  flex-direction: column;
  gap: 1rem;

  &__text {
    color: $color5;
    text-align: center;
  }

  &__linkedIn-icon {
    width: 2rem;
  }
}
